<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Enabling Support for IE8-->

<!--JS-->
<script type="text/javascript" src="static/js/jquery.js" charset="UTF-8"></script>
<script type="text/javascript" src="static/js/changelog.js"></script>
<script type="text/javascript" src="static/js/bootstrap.js"></script>
<script type="text/javascript" src="static/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="static/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="static/js/dataTables.bootstrap.js"></script>
<script type="text/javascript" src="static/js/calendar.js"></script>
<script type="text/javascript" src="static/js/underscore-min.js"></script>
<script type="text/javascript" src="static/js/moment.js"></script>
<script type="text/javascript" src="static/js/summernote.js"></script>


<!--CSS-->
<link rel="apple-touch-icon" href="images/icon.png" />
<link href="static/css/bootstrap.css" rel="stylesheet">
<link href="static/css/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<link href="static/css/jquery.dataTables.min.css" rel="stylesheet">
<link href="static/css/dataTables.bootstrap.css" rel="stylesheet">
<link href="static/css/bootstrap-responsive.css" rel="stylesheet">
<link href="static/css/changelog.css" rel="stylesheet">
<link href="static/css/calendar.css" rel="stylesheet">
<link href="static/css/font-awesome.min.css" rel="stylesheet">
<link href="static/css/summernote.css" rel="stylesheet">



