<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"><!--Enabling Support for IE8-->
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{{ title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="static/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/signin.css" rel="stylesheet">

  </head>

  <body>
    <div class="container">

      <form action="login" method="post" class="form-signin">
        <h1 class="form-signin-heading">{{ title }}</h1>
        <h2 class="form-signin-heading">Please sign in</h2>
        Username: <input name="uname" type="text" class="form-control" placeholder="Active Directory Login" required autofocus>
        Password: <input name="pass" type="password" class="form-control" placeholder="Password" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        
        {% if flash.error is not null %}
           <div class="alert alert-danger" role="alert">{{ flash.error }}</div>
        {% endif %}
      </form>
    </div> 
  </body>
</html>